.body{
    margin: 0;
    padding: 0;
    
    display:flex;
}
.frontScreenContainer{
    margin: 0 auto;
    width: 65%;
    display: flex;
    
}

.picContainer{
   
    width: 35%;
    height: 70vh;
    overflow: hidden;
}

.aboutMe{
    
    height: 70vh;
    line-height: 70vh;
    width: 65%;
    float: right;
    position: sticky;
    overflow: hidden;
    color: white;
    text-align: center;
    background-color: black;
}

.projects{
    padding: 5%;
    margin: 10 auto;
    padding: 0;
    width: 65%;
    height: 35%;
    vertical-align: middle;
    background-color: black;


}

